.BDA
{
	display: flex;
	flex-direction: row;
}

.Info
{
	width: 20%;
	height: 25%;
	
	display: flex;
	flex-direction: row;
	
	background-color: tan;
}

.Graph
{
	justify-Content: center;	
	
	width: 50%;
	height: 50%;
	
	padding: 10px;
	
	background-color: tan;
}
.GraphTabs
{
	display: flex;
	flex-direction: row;
}
.Refresh
{
	width: 50%;
	height: 50%;
	
	background-color: red;
	border-color: red;
}
