.BDA
{
	display: flex;
	flex-direction: row;
}

.Info
{
	width: 20%;
	height: 25%;
	
	display: flex;
	flex-direction: row;
	
	background-color: tan;
}

.Data
{
	display: flex;
	flex-direction: column;
	
	padding: 0 13px 0;
	font-size: 15px;
}
